<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="live.server.dao.AccountDao">

	<resultMap id="account" type="live.server.model.Account">
		<id property="uid" column="uid" />
		<result property="pwd" column="pwd" />
		<result property="token" column="token" />
		<result property="state" column="state" />
		<result property="user_sig" column="user_sig" />
		<result property="register_time" column="register_time" />
		<result property="login_time" column="login_time" />
		<result property="logout_time" column="logout_time" />
		<result property="last_request_time" column="last_request_time" />
		<result property="role" column="role" />
		<result property="code_status" column="code_status" />
		<result property="email" column="email" />
		<result property="expert_status" column="expert_status" />
	</resultMap>

	<sql id="base_column">
		uid, pwd, token, state, user_sig, register_time, login_time,
		logout_time, last_request_time, role,code_status,email,expert_status
	</sql>
	
	<insert id="insert">
	    INSERT INTO
		t_account(
		<include refid="base_column" />
		)
		VALUES(#{uid}, #{pwd}, #{token}, #{state}, #{user_sig}, #{register_time},
		#{login_time}, #{logout_time}, #{last_request_time}, #{role},#{code_status},#{email},#{expert_status})
	</insert>
	
	<select id="queryById" resultMap="account">
		select * from t_account where uid = #{uid}
	</select>
	
	<select id="queryByRole" resultMap="account">
		select * from t_account where role = #{role}
	</select>
	
	<select id="queryByEmail" resultMap="account">
		select * from t_account where email = #{email}
	</select>
	
	<select id="queryByToken" resultMap="account">
		select * from t_account where token = #{token}
	</select>
	
	<select id="query" resultMap="account">
		select * from t_account
		where 1=1
		<if test="token != null and token != ''">
			and token = #{token}
		</if>
		<if test="state != null and state != ''">
			and state = #{state}
		</if>
		<if test="user_sig != null and user_sig != ''">
			and user_sig = #{user_sig}
		</if>
		<if test="register_time != null and register_time != ''">
			and register_time = #{register_time}
		</if>
		<if test="login_time != null and login_time != ''">
			and login_time = #{login_time}
		</if>
		<if test="logout_time != null and logout_time != ''">
			and logout_time = #{logout_time}
		</if>
		<if test="last_request_time != null and last_request_time != ''">
			and last_request_time = #{last_request_time}
		</if>
		<if test="role != null and role != ''">
			and role = #{role}
		</if>
		<if test="code_status != null and code_status != ''">
			and code_status = #{code_status}
		</if>
		<if test="email != null and email != ''">
			and email = #{email}
		</if>
		<if test="expert_status != null and expert_status != ''">
			and expert_status = #{expert_status}
		</if>
		<if test="uid != null and uid != ''">
			and uid = #{uid}
		</if>
		<if test="offset != null and offset != ''">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<update id="update">
		update t_account
		set last_request_time = #{last_request_time}
		<if test="token != null and token != ''">
			, token = #{token}
		</if>
		<if test="state != null and state != ''">
			, state = #{state}
		</if>
		<if test="user_sig != null and user_sig != ''">
			, user_sig = #{user_sig}
		</if>
		<if test="register_time != null and register_time != ''">
			, register_time = #{register_time}
		</if>
		<if test="login_time != null and login_time != ''">
			, login_time = #{login_time}
		</if>
		<if test="logout_time != null and logout_time != ''">
			, logout_time = #{logout_time}
		</if>
		<if test="pwd != null and pwd != ''">
			, pwd = #{pwd}
		</if>
		<if test="role != null and role != ''">
			, role = #{role}
		</if>
		<if test="code_status != null and code_status != ''">
			, code_status = #{code_status}
		</if>
		<if test="email != null and email != ''">
			, email = #{email}
		</if>
		<if test="expert_status != null and expert_status != ''">
			, expert_status = #{expert_status}
		</if>
		where uid = #{uid}
	</update>
	
	<update id="logout">
		UPDATE t_account SET state= 0, token=null
		<if test="logout_time != null and logout_time != ''">
			, logout_time = #{logout_time}
		</if>
		WHERE token=#{token}
	</update>

</mapper>