<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="live.server.dao.NewLiveRecordDao">
	
	<resultMap id="roomRecord" type="live.server.model.NewLiveRecord">
		<id property="id" column="id" />
		<result property="create_time" column="create_time" />
		<result property="modify_time" column="modify_time" />
		<result property="appid" column="appid" />
		<result property="title" column="title" />
		<result property="cover" column="cover" />
		<result property="host_uid" column="host_uid" />
		<result property="av_room_id" column="av_room_id" />
		<result property="chat_room_id" column="chat_room_id" />
		<result property="room_type" column="room_type" />
		<result property="admire_count" column="admire_count" />
		<result property="longitude" column="longitude" />
		<result property="latitude" column="latitude" />
		<result property="address" column="address" />
		<result property="video_type" column="video_type" />
		<result property="device" column="device" />
		<result property="play_url1" column="play_url1" />
		<result property="play_url2" column="play_url2" />
		<result property="play_url3" column="play_url3" />
	</resultMap>

	<sql id="base_column">
		id, create_time, modify_time, appid, title, cover, host_uid, av_room_id, chat_room_id, room_type,
		admire_count, longitude, latitude, address, video_type, device, play_url1, play_url2, play_url3
	</sql>
	
	<insert id="replaceInsert">
	    REPLACE INTO
		t_new_live_record(
		<include refid="base_column" />
		)
		VALUES(NULL, #{create_time}, #{modify_time}, #{appid}, #{title}, #{cover}, #{host_uid}, #{av_room_id}, #{chat_room_id}, 
		#{room_type}, #{admire_count}, #{longitude}, #{latitude}, #{address}, #{video_type}, #{device}, #{play_url1}, #{play_url2}, #{play_url3})
	</insert>
	
	<select id="countByAppId" resultType="int">
		select count(*) from t_new_live_record
		where 1=1
		<if test="appid != null and appid != ''">
			and appid = #{appid}
		</if>
	</select>
	
	<select id="query" resultMap="roomRecord">
		select * from t_new_live_record
		where 1=1
		<if test="appid != null and appid != ''">
			and appid = #{appid}
		</if>
		<if test="title != null and title != ''">
			and title = #{title}
		</if>
		<if test="cover != null and cover != ''">
			and cover = #{cover}
		</if>
		<if test="host_uid != null and host_uid != ''">
			and host_uid = #{host_uid}
		</if>
		<if test="av_room_id != null and av_room_id != ''">
			and av_room_id = #{av_room_id}
		</if>
		<if test="chat_room_id != null and chat_room_id != ''">
			and chat_room_id = #{chat_room_id}
		</if>
		<if test="room_type != null and room_type != ''">
			and room_type = #{room_type}
		</if>
		<if test="admire_count != null and admire_count != ''">
			and admire_count = #{admire_count}
		</if>
		<if test="longitude != null and longitude != ''">
			and longitude = #{longitude}
		</if>
		<if test="latitude != null and latitude != ''">
			and latitude = #{latitude}
		</if>
		<if test="address != null and address != ''">
			and address = #{address}
		</if>
		<if test="video_type != null and video_type != ''">
			and video_type = #{video_type}
		</if>
		<if test="device != null and device != ''">
			and device = #{device}
		</if>
		ORDER BY id DESC 
		<if test="offset != null and offset != ''">
			LIMIT #{offset}, #{limit};
		</if>
		
	</select>
	
	<update id="updateByHostUid">
		update t_new_live_record
		set modify_time = #{modify_time}
		<if test="appid != null and appid != ''">
			, appid = #{appid}
		</if>
		<if test="title != null and title != ''">
			, title = #{title}
		</if>
		<if test="cover != null and cover != ''">
			, cover = #{cover}
		</if>
		<if test="av_room_id != null and av_room_id != ''">
			, av_room_id = #{av_room_id}
		</if>
		<if test="chat_room_id != null and chat_room_id != ''">
			, chat_room_id = #{chat_room_id}
		</if>
		<if test="room_type != null and room_type != ''">
			, room_type = #{room_type}
		</if>
		<if test="admire_count != null and admire_count != ''">
			, admire_count = #{admire_count}
		</if>
		<if test="longitude != null and longitude != ''">
			, longitude = #{longitude}
		</if>
		<if test="latitude != null and latitude != ''">
			, latitude = #{latitude}
		</if>
		<if test="video_type != null and video_type != ''">
			, video_type = #{video_type}
		</if>
		<if test="device != null and device != ''">
			, device = #{device}
		</if>
		<if test="device != null and device != ''">
			, device = #{device}
		</if>
		<if test="address != null and address != ''">
			, address = #{address}
		</if>
		where host_uid = #{host_uid}
	</update>
	
	<delete id="deleteByHostUid">
		delete from t_new_live_record where host_uid = #{host_uid}
	</delete>
	
</mapper>