<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        历史监控
        #*<small>主机、IP</small>*#
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">监控管理</a></li>
        <li class="active">历史监控</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                <select class="select2" id="group_user" name="group_user" style="width: 200px;">
                    <option value="">无</option>
                </select>
                &nbsp;&nbsp;
                <input type="text" id="qip" name="qip" placeholder="IP"/>&nbsp;&nbsp;
                <input id="stime" name="stime" class="Wdate" value="" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'default',maxDate:'#F{$dp.$D(\'etime\')||\'%y-%M-%d %H:%m:%s\'}'})"/>&nbsp;到
                <input id="etime" name="etime" class="Wdate" value="" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'default',minDate:'#F{$dp.$D(\'stime\')}',maxDate:'%y-%M-%d %H:%m:%s'})"/>&nbsp;&nbsp;
                <button id="query" type="button" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                <button id="export" type="button" class="btn btn-primary">Export</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <!-- id, ip, idc, model, power_u, power_p, update_time, create_time -->
                        <tr>
                            <th style="width: 10%;">IP</th>
                            <th style="width: 7%;">机器类型</th>
                            <th style="width: 7%;">服务器类型</th>
                            <th style="width: 26%;">告警摘要</th>
                            <th style="width: 20%;">应用信息</th>
                            <th style="width: 20%;">分组信息</th>
                        </tr>
                        </thead>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
