<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
           图片管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">图片管理</a></li>
        <li class="active">图片展示</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
        <div class="pull-left margin-r-50">
            <div class="btn-group" name="time" data-toggle="btn-toggle">
                <button type="button" class="btn btn-flat btn-primary margin active" style="left: 200px;">图片上传</button>
            </div>
        </div>
        
    </div>
    
</section><!-- /.content -->
