<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        实时监控
        #*<small>主机、IP</small>*#
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">监控管理</a></li>
        <li class="active">实时监控</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover" style="width: 100%;">
                        <thead>
                        <!-- id, ip, idc, model, power_u, power_p, update_time, create_time -->
                        <tr>
                            <th style="width: 10%;">IP</th>
                            <th style="width: 7%;">机器类型</th>
                            <th style="width: 7%;">服务器类型</th>
                            <th style="width: 26%;">告警摘要</th>
                            <th style="width: 20%;">应用信息</th>
                            <th style="width: 20%;">分组信息</th>
                            <th style="width: 10%;">运维人</th>
                        </tr>
                        </thead>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

#parse("vm/common/alarm_common.vm")

<script id="set_alarm" type="text/template">
    <form class="form form-horizontal">
        <fieldset>
        	<div class="form-group">
                <label class="col-sm-3 control-label">用户分组</label>
                <div class="col-sm-8">
                    <select class="form-control select2" id="group_user" name="group_user">
                        <option value="">无</option>
                    </select>
                </div>
            </div>
        	
        	<div class="form-group">
                <label class="col-sm-3 control-label">监控项</label>
                <div class="col-sm-8">
               		<select class="form-control select2" id="meter_name" name="meter_name" onchange="alarmTypeChange()">
                    </select>
				</div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">告警机器数量</label>
                <div class="col-sm-8">
            		<input class="form-control" type="text" id="machineNum" name="machineNum" value="5" required="required"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">不显示告警的指标（优先生效）</label>
                <div id="no_show_alarm_meters" class="col-sm-8">
                </div>
            </div>

<div class="form-group">
  <div class="col-sm-2 col-sm-offset-4">
    <button type="button" class="btn btn-primary">确认</button></div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button></div>
</div>
        </fieldset>
    </form>
</script>

<script id="history_paused_alarm" type="text/template" class="content" style="width:100%">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="history_table_paused" class="table table-bordered table-hover" style="width:100%">
                        <thead>
                        <tr>
                            <th style="width:15%">机器类型</th>
                            <th style="width:15%">告警类型</th>
                            <th style="width:15%">开始时间</th>
                            <th style="width:15%">结束时间</th>
                            <th style="width:20%">原因</th>
                            <th style="width:20%">pause人员ERP</th>
                        </tr>
                        </thead>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><
</script>